<map id="logo" name="logo">
<area shape="circle" alt="OL-Commerce Homepage" title="OL-Commerce Homepage" coords="30,38,30"
href="http://www.ol-commerce.de/v5" target="_blank" />
<area shape="rect" alt="OL-Commerce Homepage" title="OL-Commerce Homepage" coords="73,16,291,69"
href="http://www.ol-commerce.de/v5" target="_blank" />
</map>
<map id="ajax_logo" name="ajax_logo">
<area shape="circle" alt="Informationen zu AJAX" title="Informationen zu AJAX" coords="55,53,51"
href="http://de.wikipedia.org/wiki/Ajax_(Programmierung)" target="_blank" />
</map>
<table style="width: 100%;" align="center" cellspacing="0" cellpadding="0">
  <tr>
    <td class="frame_left" width="450">
			<div align="left" style="position:relative">
	    	<img usemap="#logo" title="" alt="" src="{$tpl_path}images/logo.gif" class="image" />
			</div>
    </td>
    <td class="frame_left" valign="top" width="900">
			<div align="left" style="position:relative">
				<div style="position:absolute;left:10px;top:-10px;font-size:8pt">
					<a href="start.php" class="headerLink"><img src="{$tpl_path}images/top_index.gif" class="image"></a>
					<img src="{$tpl_path}images/img_spacer.gif" alt="" class="image">
					<a href="http://www.ol-commerce.de/modules/newbb/" target="_top" class="headerLink"><img src="{$tpl_path}images/top_support.gif" class="image"></a>
					<img src="{$tpl_path}images/img_spacer.gif" alt="" class="image">
					<a href="../index.php" class="headerLink"><img src="{$tpl_path}images/top_shop.gif" class="image"></a>
					<img src="{$tpl_path}images/img_spacer.gif" alt="" class="image">
					<a href="../logoff.php?admin_logoff=true" class="headerLink"><img src="{$tpl_path}images/top_logout.gif" class="image"></a>
					<img src="{$tpl_path}images/img_spacer.gif" alt="" class="image">
				</div>
			</div>
    </td>
    <td class="frame_right">
			<div align="right" style="position:relative">
			  <img usemap="#ajax_logo" src="{$tpl_path}images/ajax_logo.gif" class="image"/>
			</div>
		</td>
  </tr>
</table>
