{olc_template_init use_template_language="true" section="boxes"}
{$FORM_ACTION}
	<table width="100%" class="{$box_navigation_area} box_ADD_A_QUICKIE" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><h3>{#heading_add_a_quickie#}</h3></td>
		</tr>
		{if $CONTENT}
	   	 <td class="infoBox">
 		  <table width="100%" border="0" cellspacing="0" cellpadding="0">
		    	  	<tr>
		      	  <td class="infoBoxContents" align="left">{$BOX_CONTENT}</td>
		      	</tr>
		    	   </table>
		 	</td>
		  </tr>
	  	  <tr>
			<td class="infoBoxFooter">&nbsp;</td>
		   </tr>
		{else}
		<tr>
			<td class="infoBox">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td align="left" valign="middle">
							{$INPUT_FIELD}&nbsp;
						</td>
						<tr>
						<td align="left" valign="middle">
							{$SUBMIT_BUTTON}
						</td>
						</tr>
					</tr>
					<tr>
						<td colspan="2" align="left" class="infoBoxContents">
							{#text_quickie#}
						</td>
					</tr>
				</table>
			</td>
		</tr>
		{/if}
		<tr>
			<td class="infoBoxFooter">&nbsp;</td>
		</tr>
	</table>
{$FORM_END}
