{olc_template_init title="#heading_notifications#" section="account_notifications"}
{$FORM_ACTION}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
    	<td class="subcategory">{#title_notifications#}</td>
	</tr>
  <tr>
    <td class="main_border_top">{#text_notifications#}</td>
  </tr>
	<tr>
		<td><img src="{$tpl_path}img/pixel_trans.gif" width="100%" height="5" alt="" style="display: block;"></td>
	</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
    	<td class="subcategory">{#title_global#}</td>
	</tr>
	<tr>
		<td class="main_border_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr class="moduleRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" 	
					onclick="checkBox('product_global')">
					<td class="main">{$CHECKBOX_GLOBAL} <strong>{#title_global#}</strong><br/>
						<table width="95%" border="0" align="right" cellpadding="0" cellspacing="0">
							<tr>
								<td class="main">{#text_global#}</td>
							</tr>
						</table> 
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><img src="{$tpl_path}img/pixel_trans.gif" width="100%" height="5" alt="" style="display: block;"></td>
	</tr>
</table>

{if $GLOBAL_NOTIFICATION=='0'}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
    	<td class="subcategory">{#title_products#}</td>
	</tr>
	<tr> 
		<td class="main_border_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="main">{#text_products#} <br/></td>
				</tr>
				<tr> 
					<td class="main">{$PRODUCTS_NOTIFICATION}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><img src="{$tpl_path}img/pixel_trans.gif" width="100%" height="5" alt="" style="display: block;"></td>
	</tr>
</table>

{/if}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>{$BUTTON_BACK}</td>
		<td><div align="right">{$BUTTON_CONTINUE}</div></td>
	</tr>
</table>
{$FORM_END}

