<html dir="LTR" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15"> 
<meta browser="generator" content="Microsoft FrontPage 6.0">
<meta browser="robots" content="index,follow">
<meta browser="language" content="german">
<meta browser="author" content="Winfried Kaiser">
<meta browser="publisher" content="olCommerce">
<meta browser="company" content="olCommerce">
<meta browser="page-topic" content="olCommerce">
<meta browser="distribution" content="global">
<meta browser="revisit-after" content="14">
{if $tpl_path}
<link rel="stylesheet" type="text/css" href="{$tpl_path}stylesheet.css">
{else}
<link rel="stylesheet" type="text/css" href="../stylesheet.css">
{/if}
<title>olCommerce - Keine AJAX-Unterstüzung möglich</title>
</head>
<body>
<p>&nbsp;</p>
{if $tpl_path}
<p align="center"><img border="0" SRC="{$tpl_path}images/logo.gif"></p>
{else}
<p align="center"><img border="0" SRC="../images/logo.gif"></p>
{/if}
<font size="3">
<div align="center">
	<table border="0" ID="table1">
		<tr>
			<td>

<font size="3">
<p align="center">&nbsp;</p>
<p align="center">Sehr geehrter Besucher, sehr geehrte Besucherin,</p>
<p align="center">unser Internet-Shop verwendet die moderne <b>
<A TARGET="_blank" href="http://de.wikipedia.org/wiki/Ajax_(Programmierung)">
AJAX</A></b>-Technologie, um Ihnen ein ganz neues,</p>
<p align="center">interaktiveres, Einkaufserlebnis zu 
ermöglichen.</p>
<p align="center">(Mehr Informationen zur <b>
<A TARGET="_blank" href="http://de.wikipedia.org/wiki/Ajax_(Programmierung)">
AJAX</A></b>-Technologie finden Sie <b>
<A TARGET="_blank" href="http://de.wikipedia.org/wiki/Ajax_(Programmierung)">
hier</A></b>.)</p>
<p align="center">&nbsp;</p>
<p align="center">Leider ist es aber so, dass der von Ihnen verwendete 
Internet-Browser</p>
<p align="center">derzeit <font color="#FF0000"><B>nicht</B></font> die Voraussetzungen bietet, diese 
<b>
<A TARGET="_blank" href="http://de.wikipedia.org/wiki/Ajax_(Programmierung)">
AJAX</A></b>-Technologie zu unterstützen.</p>
</font>
			<p>&nbsp;</td>
		</tr>
		<tr>
			<td>

<font size="3">
			<p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#FF0000"> <B>Sie können daher entweder</B></font></p>
			<UL>
				<LI>
				<p align="left">unsere Seite mit dem <b>
				<A TARGET="_blank" href="http://www.microsoft.com/ie_intl/de/download/">Microsoft Internet-Explorer</A>
				</B>neu besuchen<br/>
&nbsp;</p></LI>
				<LI>
				<p align="left"><b><A href="{$no_ajax_link}no_ajax=true">
				<font color="#FF0000">diesen Link</font></A></b> anklicken, der unsere Seite im <B>konventionellen</B> Modus 
				ansteuert<br/></p>
				<LI>
				<p align="left">Den Browser so <font color="#0000FF"><B>konfigurieren</B></font>, dass er diese 
				<b>
<A TARGET="_blank" href="http://de.wikipedia.org/wiki/Ajax_(Programmierung)">
AJAX</A></b>-Technologie zulässt</p>
				</LI>
			</UL>
</font>

			</td>
		</tr>
	</table>
</div>
</font>

</body>

</html>