{olc_template_init title="#heading_shipping#" section="checkout_shipping"}
{if $ORDER_STEPS}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>{$ORDER_STEPS}</td>
	</tr>
</table>
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">&nbsp;</td>
  </tr>
  <tr>
    <td><strong>{#title_address#}</strong></td>
  </tr>
</table>
{if $BUTTON_EC_CHECKOUT}
<table border="0" cellspacing="3" cellpadding="3">
	<tr>
    	<td colspan="2"><br/></td>
	</tr>
	<tr>
    	<td class="main" valign="middle" nowrap="nowrap">
    		<b>{$BUTTON_EC_CHECKOUT_TEXT}</b><br/><br/>{$BUTTON_EC_CHECKOUT}
    	</td>
    	<td class="main" valign="middle">
    		{$BUTTON_EC_CHECKOUT_DESCRIPTION_TEXT}
    	</td>
	</tr>
	<tr>
    	<td colspan="2"><br/></td>
	</tr>
</table>
{/if}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
    <td class="subcategory">{#title_address#} </td>
	</tr>
</table>

{$FORM_ACTION}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<!-- W. Kaiser-->
	<tr>
		<td class="main_border_top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="main" width="67%" valign="top">{#text_addressbook#}<br/>
					<br/>
					{$BUTTON_ADDRESS}</td>
					<td class="main_border_right" valign="top">
						<div align="center"><strong>{#title_address#}</strong><br/>
						<img src="{$tpl_path}img/arrow_south_east.gif"> </div>
					</td>
					<td width="12" nowrap="nowrap" class="main_grey" valign="top">
						&nbsp;</td>
					<td width="242" nowrap="nowrap" class="main_grey" valign="top">
						<div align="left">{$ADDRESS_LABEL}</div>
						<p>&nbsp;</td>
				</tr>
			</table>
		</td>
	</tr>
<!-- W. Kaiser-->
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
{if !$free_shipping}
	<tr>
    	<td class="subcategory">{#title_shipping#}</td>
	</tr>
{/if}
	<tr>
		<td width="100%" valign="top" class="main_border_right">
		{if !$free_shipping}{#text_shipping#}<br/><br/>{/if}
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>{$SHIPPING_BLOCK}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr><td colspan="2"><hr/></td></tr>
	<tr>
		<td valign="top" width="350" class="main">
			<strong>{#title_continue#}</strong><br/>
			{#text_continue#}
		</td>
		<td>&nbsp;{$BUTTON_CONTINUE}</td>
	</tr>
</table>
{$FORM_END}
