{olc_template_init title="#heading_logoff#" section="logoff"} 
<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<tr> 
		<td><img src="{$tpl_path}images/checkout_success.gif"></td>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td class="main">{#text_logoff#}<br/><br/></td>
				</tr>
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr align="right"> 
								<td><br/>{$BUTTON_CONTINUE}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

