<html dir="LTR" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15"> 
<meta browser="generator" content="Microsoft FrontPage 6.0">
<meta browser="robots" content="index,follow">
<meta browser="language" content="german">
<meta browser="author" content="Winfried Kaiser">
<meta browser="publisher" content="olCommerce">
<meta browser="company" content="olCommerce">
<meta browser="page-topic" content="olCommerce">
<meta browser="distribution" content="global">
<meta browser="revisit-after" content="14">
{if $tpl_path}
<link rel="stylesheet" type="text/css" href="{$tpl_path}stylesheet.css">
{else}
<link rel="stylesheet" type="text/css" href="../stylesheet.css">
{/if}
<title>olCommerce - Keine AJAX-Unterstüzung möglich</title>
</head>
<body>
<p>&nbsp;</p>
{if $tpl_path}
<p align="center"><img border="0" SRC="{$tpl_path}images/logo.gif"></p>
{else}
<p align="center"><img border="0" SRC="../images/logo.gif"></p>
{/if}
<font size="3">
<div align="center">
	<table border="0" ID="table1">
		<tr>
			<td>
				<font size="3">
				<p align="center">&nbsp;</p>
				<p align="center">Sehr geehrter Besucher, sehr geehrte Besucherin,</p>
				<p align="center">bei der Zahlung mit <B>PayPal</B> gab es 
				leider ein Problem,<br/>
				so dass diese Zahlungsart zur Zeit nicht möglich ist.</p>
				<p align="center"><b><A href="checkout_payment.php">Bitte wählen 
				Sie eine andere Zahlungsart.</A></b></p>
				</font>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>

			<font size="3">
			<p align="left">&nbsp;</p>
</font>

			</td>
		</tr>
	</table>
</div>
</font>

</body>

</html>