{olc_template_init section="reviews" title="#heading_product_reviews# "}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="main">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><div align="center"><strong>{$IMAGE}</strong></div><br/></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="main"><strong> {#text_date#}</strong> {$DATE}<br/></td>
	</tr>
	<tr>
		<td class="main"><strong>{#text_author#}</strong> {$AUTHOR}<br/><br/></td>
	</tr>
	<tr>
		<td class="main"><strong>{#text_text#}</strong><br/></td>
	</tr>
	<tr>
		<td class="main_border_top">{$REVIEWS_TEXT}<br/><br/></td>
	</tr>
	<tr>
		<td class="main_border_top"><strong>{#text_rating#}</strong> {$RATING}<br/></td>
	</tr>

		</td class="main">
	</tr>
	<tr>
		<td><img src="{$tpl_path}images/pixel_trans.gif" width="100%" height="20" alt="" style="display: block;"></td>
	</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>{$BUTTON_BACK} </td>
		<td><div align="right">{$PRODUCTS_BUTTON_BUY_NOW}</div></td>
	</tr>
	<tr>
		<td colspan="2"><img src="{$tpl_path}images/pixel_trans.gif" width="100%" height="20" alt="" style="display: block;"></td>
	</tr>
</table>
