{olc_template_init section="reviews" title="#heading_reviews#"}
{foreach name=aussen item=module_data from=$module_content} 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr> 
		<td class="main"><b>{#text_author#}</b>{$module_data.AUTHOR}, {$module_data.DATE}<br/>
		<strong>{#text_rating#}</strong>{$module_data.RATING} </td>
	</tr>
	<tr> 
		<td class="main_border_bottom"><br/>
		{$module_data.TEXT}</td>
	</tr>
</table>
<br/>
{/foreach}
<br/>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="main_border_bottom">&nbsp;</td>
		<td class="main_border_bottom"><div align="right">{$BUTTON_WRITE}</div></td>
	</tr>
</table>
